<%- include("header") -%>
  <div class="box" id="heading">

    <h1>
      <%= listTitle %>
    </h1>
  </div>
  
  <div class="box">
    
      <% newtodo.forEach(function({name}){ %>
        <div class="item">
          <input type="checkbox">
          <p>
            <%= name %>
          </p>
        </div>
      <% }) %> 
      <form class="item" method="post" action="/">
        <input type="text" name="newtodo" placeholder="enter a new todo" autocomplete="off"/>
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
  </div>
  <%- include("footer") -%>