<%- include("header") -%>
  <div class="box" id="heading">

    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">

    <% newtodo.forEach(function({name,_id}){ %>
      <form action="/delete" method="post">

        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=_id%>" onChange="this.form.submit()">
          <p>
            <%= name %>
          </p>
        </div>
      </form>
      <% }) %>
        <form class="item" method="post" action="/">
          <input type="text" name="newtodo" placeholder="enter a new todo" autocomplete="off" />
          <button type="submit" name="list" value=<%=listTitle %>>+</button>
        </form>
  </div>
  <%- include("footer") -%>